---
# Only the main Sass file needs front matter (the dashes are enough)
---

// 1. Variables (Must come before Minima to override defaults)
@import "variables";

// 2. Import the theme
@import "minima";

// 3. Custom Styles
@import "base";
@import "layout";
@import "hero";
@import "components";
